In [2]:
import pandas as pd

dataset = pd.read_csv("Social_Network_Ads.csv")
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [3]:
dataset = dataset.drop("User ID", axis = 1)
dataset = pd.get_dummies(dataset, drop_first = True, dtype = int)
dataset.columns

Index(['Age', 'EstimatedSalary', 'Purchased', 'Gender_Male'], dtype='object')

In [4]:
independent = dataset.drop(columns = ['Purchased'])
dependent = dataset[['Purchased']]
dependent.value_counts()

Purchased
0            257
1            143
Name: count, dtype: int64

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

scaler = StandardScaler()
x_scaled = scaler.fit_transform(independent)

x_train, x_test, y_train, y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0) 
x_train, x_test, y_train, y_test

(     Age  EstimatedSalary  Gender_Male
 92    26            15000            1
 223   60           102000            1
 234   38           112000            0
 232   40           107000            1
 377   42            53000            0
 ..   ...              ...          ...
 323   48            30000            0
 192   29            43000            1
 117   36            52000            1
 47    27            54000            0
 172   26           118000            0

 [280 rows x 3 columns],
      Age  EstimatedSalary  Gender_Male
 132   30            87000            1
 309   38            50000            0
 341   35            75000            1
 196   30            79000            0
 246   35            50000            0
 ..   ...              ...          ...
 216   49            65000            1
 259   45           131000            0
 49    31            89000            0
 238   46            82000            0
 343   47            51000            0

 [120 rows x 3 columns],
      Purchased
 92           0
 223          1
 234          0
 232          1
 377          0
 ..         ...
 323          1
 192          0
 117          0
 47           0
 172          0

 [280 rows x 1 columns],
      Purchased
 132          0
 309          0
 341          0
 196          0
 246          0
 ..         ...
 216          0
 259          1
 49           0
 238          0
 343          1

 [120 rows x 1 columns])

In [7]:
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

import warnings
warnings.filterwarnings("ignore")

In [8]:
def svm_model(kernel_param):
    try:
        classifier = SVC(kernel = kernel_param, random_state = 0)
        classifier = classifier.fit(x_train, y_train)
        y_pred = classifier.predict(x_test)
        cm = confusion_matrix(y_test, y_pred)
        clf_report = classification_report(y_test, y_pred)
        print(str(cm) + ": kernel = " + kernel_param)
        print(clf_report)
    except Exception as e:
        print(e)

In [9]:
kernel_list=['rbf', 'poly', 'sigmoid']

for kernel in kernel_list:
        svm_model(kernel)

[[77  2]
 [23 18]]: kernel = rbf
              precision    recall  f1-score   support

           0       0.77      0.97      0.86        79
           1       0.90      0.44      0.59        41

    accuracy                           0.79       120
   macro avg       0.83      0.71      0.73       120
weighted avg       0.81      0.79      0.77       120

[[77  2]
 [26 15]]: kernel = poly
              precision    recall  f1-score   support

           0       0.75      0.97      0.85        79
           1       0.88      0.37      0.52        41

    accuracy                           0.77       120
   macro avg       0.81      0.67      0.68       120
weighted avg       0.79      0.77      0.73       120

[[42 37]
 [29 12]]: kernel = sigmoid
              precision    recall  f1-score   support

           0       0.59      0.53      0.56        79
           1       0.24      0.29      0.27        41

    accuracy                           0.45       120
   macro avg       0.42      0.41      0.41       120
weighted avg       0.47      0.45      0.46       120

In [10]:
classifier = SVC(kernel = 'rbf' , random_state = 0)
classifier = classifier.fit(x_train, y_train)
y_pred = classifier.predict(x_test)

cm = confusion_matrix(y_test, y_pred)
print(cm)

clf_report = classification_report(y_test, y_pred)
print(clf_report)

[[77  2]
 [23 18]]
              precision    recall  f1-score   support

           0       0.77      0.97      0.86        79
           1       0.90      0.44      0.59        41

    accuracy                           0.79       120
   macro avg       0.83      0.71      0.73       120
weighted avg       0.81      0.79      0.77       120

In [11]:
classifier.predict([[40,30000,1]])

array([0], dtype=int64)